.weather-app-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 15px 15px 0px 15px;
}

.btn-parent {
  text-align: center;

}

.btn {
  text-align: center;
  /* background-color: ; */
  background-color: #19A6BB;
  color: #fff;
  border: none;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
}